mixin createProduct(product)
    .col-md-4
      .card
          img.card-img-top(src=`/img/${product.imageUrl}`, alt=`${product.description}`)
          .card-body
              h4.card-title
                  a(href=`/products/${product.id}`) #{product.name}
              
              small.text-muted
                  i.fa.fa-try #{product.price}
                
          .card-footer.text-center
              
              a.btn.btn-outline-secondary.btn-sm(href=`/products/${product.id}`, style='margin-left: 56%;') Details
              a.btn.btn-outline-secondary.btn-sm.ml-3(href='#', style='margin-left: 56%;') Add to Cart